<ul>
  <% entries.forEach(function(entry, index) { %>
    <li class="entry">
      <li class="entryName"><%- entry.name %>: <%- entry.phone_number %></li>
      <li class="entryAddress"><%- entry.address %></li>
    </li>
  <% }) %>
</ul>
