<div class="formContainer">
  <form method="post" action="/entries">
    <div class="formListing">
      <label for="entry_name">Name</label><br>
      <input type="text" name="entry[name]" id="entry_name"></input>
    </div>

    <div class="formListing">
      <label for="entry_phone_number">Phone Number</label><br>
      <input type="text" name="entry[phone_number]" id="entry_phone_number"></input>
    </div>

    <div class="formListing">
      <label for="entry_address">Address</label><br>
      <input type="text" name="entry[address]" id="entry_address"></input>
    </div>

    <input type="submit" value="Add Entry" id="submitBtn"></input>
  </form>
</div>
